body {
    margin: 0;
    border: 10px solid black;
}

.wrapper {
    background-color: black;
    margin: 10px solid red;
    height: 200vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
}


/* Enroll */
.enroll-container {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 10fr 60fr 25fr;
    background-image: url("https://www.hulu.com/static/hitch/s3/attachments/ckbvd0gyz00xg19mlsu9nayv7-homepage-masthead-test-desktop-3200x1320-v4c-6-16-20.jpg");
    background-size: cover;
}


.enroll-header-container {
    background: linear-gradient(to bottom, black, black, black, transparent);   ;
}

.enroll-header-container {
    color: white;
    display: grid;
    grid-template-columns: 19fr 1fr;
}

.enroll-header {
    /* border: 2px solid blue; */
}

.enroll-main-container {
    /* border: 2px solid violet; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 1fr);
}

.enroll-main {
    color: white;
    justify-self: center;
}

#main-2 {
    color: #2ab193;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 13px;
    /* padding-bottom: 6px; */
}

#main-3 {
    display: flex;
    flex-shrink: 0; 
    width: 40%; 
    display: flex;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    justify-items: space-around;
    align-content: center;
    justify-items: center;
    text-align: center;
}

#main-4 {
    font-size: 16px;
    font-weight: bold;
}

#main-5 {
    font-size: 11px;
    font-weight: lighter; 
}

#main-6 {
    height: 50px;
    
}

.button {
    font-weight: bold;
    border-radius: 3px;
    border: 10px solid white;

}

#start-trial {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
}

#main-7 {
    color: rgba(243, 240, 240, 0.534);
    font-size: 7px;
    text-align: center;
    width: 20%;
    padding-bottom: 20px; 
}

#main-8 {
    
}


.hulu-logo {
    justify-content: space-around;
}


#hulu-logo {
    /* flex-shrink: 0;  */
    /* padding-left: 159px; */
    width:35%; 
}

.enroll-banner {
    /* border: 2px solid red; */
    background: linear-gradient(to right, rgb(2, 10, 12), rgb(10, 89, 114));
    display: flex;
    flex-direction: row;
}

.enroll-banner-content-left {
    /* color: white; */
    /* border: 2px solid green; */
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 50px;
}

#multi-logos {
    width: 60%;
    padding-left: 40px;
}

.enroll-banner-content-center-container {
    /* border: 2px solid yellow; */
    width: 34%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#banner-center-top {
    color: #2ab193;
    font-size: 8px;
    font-weight: bold;
}

#banner-center-middle {
    font-weight: lighter;
}

#banner-center-bottom {
    font-size: 8px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.664);
    text-decoration-line: underline;

}

.enroll-banner-content-right-container {
    /* border: 2px solid orange; */
    width: 33%;
    color: white;
}

#banner-right-top {
    padding-top: 30px;
}

#get-bundle-btn {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border-radius: 3px;
}

#banner-right-bottom {
    font-size: 8px;
    text-decoration: underline;
}

/* Movies */
.movies-container {
    background-color: black;
}

.movies-top {
    color: white;
}

#movies-1 {
    color: #2ab193;
}

#movies- {

}

#movies-3 {

}

#movies-4 {

}

.movies-gallery-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    /* grid-gap may need adjustment */
    grid-gap: 0.5em;
}

.movies-gallery {
    color: white;
}

#poster-blank {
    background-color: black;
    overflow: auto;
}

#poster-1 {
    background-image: url("https://www.hulu.com/static/hitch/s3/attachments/ckllond4i0i9w1u7ghnu91j1b-bobsburgers-category-tile-294x450-1x.jpg");
    overflow: auto;
}

#poster-2 {
    background-image: url("https://www.hulu.com/static/hitch/s3/attachments/cklms7f221g6z1u6ye8eurm1e-unitedstatesvsbillieholiday-category-tile-294x450-1x-1.jpg");
    overflow: auto;
}

#poster-3 {
    background-image: url("https://www.hulu.com/static/hitch/s3/attachments/ckllpbyhp0pww1ua273ct30sb-solaropposites-category-tile-294x450-1x-1.jpg");
    overflow: auto;
}

#poster-4 {
    background-image: url("https://www.hulu.com/static/hitch/s3/attachments/ckoku2z5l8wsx1u6rmw1cl695-ww84-category-poster-tile-294x450-2x-1.jpg");
    overflow: auto;
}

.movies-bottom {
    color: white;
}


/* Plans */
.plans-container {
    background-color: rgb(159, 181, 200);
}
